body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #1c1818;
}

#name {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #fefefe;
    font: bolder;
}

#gameCanvas {
    border: 1px solid #000;
    background-color: #fff;
}
button {
    align-items: center;
    width: 70px;
    height: 30px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30%;
}

#score {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #fff;
}

.operator-btn:hover {
    background-color: rgb(200, 233, 157);
}


/* Responsive styles */
@media (max-width: 600px) {
    header {
        font-size: 1.2rem;
    }
}
